## **Operators in Python**

 1.Arithmetic Operator

 2.Relational Operators

3.Logical Operators

4.Bitwise Operators

5.Assignment Operators

6.Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [ ]:
# Assignment Operators

a=2
a+=2 # a=a+2
print(a)

4

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

# Modules in python


*   math

*   keywords
*   random


*   datetime

In [ ]:
# math
import math

math.sqrt(196)

14.0

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

52

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2026-01-08 12:36:43.084050

# Loops in python

In [ ]:
# print the multiplication table of a no. entered by user
a= int(input("Enter a no."))
i=1
while (i<11):
  print(i*a)
  i +=1

Enter a no.5
5
10
15
20
25
30
35
40
45
50

In [ ]:
# while with else

i=1
while (i<5):
  print(i)
  i+=1
else:
  print("limit cross")

1
2
3
4
limit cross

In [ ]:
# for loop

a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

# Nested loops

In [18]:
for i in range(1,5):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [17]:
'''print this
*
**
***
**** '''

for i in range(1,5):
  for j in range(1,i+1):
    print('*',end='')
  print()

*
**
***
****

# Loops control statements

*   break
*   continue
*   pass

In [19]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [20]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [21]:
for i in range(1,10):
  pass
   # it will run w/o raising any error