## variables and data types

In [ ]:
## 1. Store name,age, and CGPA in variables and print them

name="palak"
age=19
CGPA=7.8

print(name,age,CGPA )

palak 19 7.8

In [ ]:
## 2.check the data type of each variable

a='hello world'
b=3
c=7.3
d=[3,5,7,2]
e=(4,5,7,8)
f=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'bool'>

In [ ]:
## 3. take 2 no. from user as input and print their sum

a= int(input("enter no.1="))
b= int(input("enter no.2="))
c=a+b
print(c)

enter no.1=4
enter no.2=6
10

## Conditional statements

In [ ]:
## 1. check whether a no. is odd or even
n=int(input("enter no. to check="))

if n%2==0:
  print("the no. is even")
else:
  print("the no. is odd")

enter no. to check=36
the no. is even

In [ ]:
## 2. check whether a no. is positive ,negative or zero
n= int(input("enter no. to check="))
if (n>0):
   print("the no. is positive")
elif(n<0):
   print("the no. is negative")
else:
   print("the no. is zero")

enter no. to check=56
the no. is positive

In [ ]:
## 3. find largest of three no.s
a= int(input("enter no.="))
b= int(input("enter no.="))

c= int(input("enter no.="))
if (a>b and a>c):
   print("a is largest")
elif(b>a and b>c):
   print("b is largest")
else:
   print("c is largest")

enter no.=45
enter no.=56
enter no.=89
c is largest

In [ ]:
'''login program
username-> palakj123
code-> 6789 '''

username= input("enter username")
code= input("enter code")

if username=="palakj123" and code=="6789":
  print("welcome")
elif username=="palakj123" and code!="6789":
  print("wrong code")
  code= input("enter code again")
  if code=="6789":
    print("welcome finally")
  else:
    print("try again")

else:
  print(" both incorrect! try again")

enter usernamepalakj123
enter code546
wrong code
enter code again6789
welcome finally